body {
  max-width: 1100px;
  background: HSL(200, 19%, 15%);
  color: HSL(170, 42%, 65%);
}

.question1 {
  border: 10px solid HSL(202, 19%, 11%);
  border-radius: 10px;
  padding: 20px;
  background: HSL(200, 19%, 18%);
  text-align: center;
}
